.footer {
  padding: 48px 24px;
  background-color: #333;
  border-top: 1px solid #0000000f;
  color: #fff;
  position: relative;

  /* Global styles scoped to the children of the footer */
  h2 {
    margin: 0 0 16px 0;
    font-size: 0.9rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media screen and (width >= 768px) {
    padding: 55px 5.5%;
    display: flex;
  }
}

/* Four white square on the right side of the footer */
.squares {
  display: none;
  position: absolute;
  right: 13px;

  div {
    width: 26px;
    height: 26px;
    background: #fff;
    margin-bottom: 26px;
  }

  @media screen and (width >= 1024px) {
    display: block;
  }
}

.linkColumn,
.socialColumn {
  @media screen and (width <= 767px) {
    margin-bottom: 40px;
  }
}

.socialColumn {
  flex: 2;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 154px;
    row-gap: 24px;
  }
}

.linkColumn {
  @media screen and (768px <= width) {
    margin-left: 2.5%;
    flex: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 16px;
    }

    a {
      color: inherit;
      font-size: 0.777777777777778rem;
    }
  }
}
